<h1>Valentin Răduți</h1>
<a *ngFor="let lang of langSvc.available" (click)="langSvc.lang=lang">{{'lang'|translate:lang}}</a>
<img src="https://lh3.googleusercontent.com/tKapWClz_nTv-VkAo-KTgkTQSv6M67dBrb549k5fimtjoEKG9eIlFi9WNxVMfmPzXw3uvirgaFlF5niPX_8u8z-JKU0uVd7XvCMSqgd_TSutWn5d0Im7apBTZ5aflyaBT03RPK5aV0vB_oyo_9j1JYDDhqZnOX0B7SEKOMTL18CASqimf5QcTk803mCswqXAJYnyY-dMGj7RnzOEyJeSNHbp48BtCFOVtlhsLwfPfpgw6DLCrtL1LgUoozib3ljvGGrtQimA1DJUDORL16Bs6NbuCiKwUirlr8fFFDEzgzlLZ7J7AHCKrORN96ndhoa5ZjTyJNT6ta9-52KuwXqbnM7iI8tqBTOm9HTqKSfiZIRkaXiPVTmgpgH_X26WKiijyFNylsqaiRwu39ZznqwQlnzRMgwlC1x8biX0VKo8P8ujw8iye_Rz6ai8TxrehSJbJ2kxl1AtiY_hl6lypjo9TlXWoptwA7N3F1VslBstpoG42ubL35GhZUnEvM_Rm0cTaf0AN7dvEpnZtRrg7-_9HEqDfqokJTcSO3oMV9uYPQN9vVqMJzQ-oS9VgHYw5EvRzT4jVW5JKnhFVFVF4lSByql_obxT9z21PF-SE67IQUGnr7gemyTRvsg4P3YIdvmS0SRFh5wm7eyNhg7s57kYEhu0MMGbgOqG=s955-no">
<h2 id="work">{{'work'|translate}}</h2>
<article *ngFor="let w of work$|async">
  <header>
    <h3>{{w.employer}}</h3>
    <span>{{'from'|translate}} :
      <time [attr.datetime]="w['date-start']">{{w['date-start']|date}}</time>
    </span>
    <span *ngIf="w['date-end']"> {{'to'|translate}} :
      <time [attr.datetime]="w['date-end']">{{w['date-end']|date}}</time>
    </span>
    <h5 *ngIf="w.role">{{'role'|translate}} : {{w.role[langSvc.lang]}}</h5>
  </header>
  <section *ngIf="w.projects && w.projects.length>0">
    <h4>{{'projects'|translate}}</h4>
    <article *ngFor="let p of w.projectObjs">
      <header>
        <h5>{{p.title[langSvc.lang]}}</h5>
      </header>
      <p>{{p.description[langSvc.lang]}}</p>
      <footer>
        {{'technologies'|translate}} : <span *ngFor="let t of p.technologies">{{t}}</span>
      </footer>
      <footer>
        {{'role'|translate}} : {{p.role[langSvc.lang]}}
      </footer>
    </article>
  </section>
</article>
<h2 id="education">{{'education'|translate}}</h2>
<article *ngFor="let e of education$|async">
  <header>
    <h3>{{e.institution[langSvc.lang]}}</h3>
    <span>{{'from'|translate}} :
      <time [attr.datetime]="e['date-start']">{{e['date-start']|date}}</time>
    </span>
    <span *ngIf="e['date-end']"> {{'to'|translate}} :
      <time [attr.datetime]="e['date-end']">{{e['date-end']|date}}</time>
    </span>
    <p>{{e.comments[langSvc.lang]}}</p>
  </header>
</article>